<app-go-to-link-button></app-go-to-link-button>

<form class="person-form" [formGroup]="personForm" (ngSubmit)="savePerson()" novalidate>
  <mat-form-field class="person-form-field">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>

  <mat-checkbox class="person-form-field"
    formControlName="isActive">Active</mat-checkbox>

  <mat-form-field class="person-form-field">
    <mat-label>Gender</mat-label>
    <mat-select matInput formControlName="gender">
      <mat-option>--- Select ---</mat-option>
      <mat-option value="male">Male</mat-option>
      <mat-option value="female">Female</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="person-form-field">
    <mat-label>Age</mat-label>
    <input matInput type="number" formControlName="age">
  </mat-form-field>

  <mat-form-field class="person-form-field">
    <mat-label>About</mat-label>
    <textarea matInput formControlName="about"></textarea>
  </mat-form-field>

  <button type="submit" mat-raised-button color="primary"
    [disabled]="personForm.invalid && personForm.dirty">
    Save
  </button>
</form>

<pre>{{person|json}}</pre>
