<ng-container *ngIf="!person.id; else editPerson">
  <h3>Add Person</h3>
</ng-container>
<ng-template #editPerson>
  <h3>Edit {{ person.name }}'s Info</h3>
</ng-template>

<app-go-to-link-button *ngIf="person.id"></app-go-to-link-button>

<form class="person-form" [formGroup]="personForm" (ngSubmit)="savePerson()" novalidate>
  <mat-form-field class="person-form-field">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>

  <mat-checkbox class="person-form-field"
    formControlName="isActive">Active</mat-checkbox>

  <mat-form-field class="person-form-field">
    <mat-label>Gender</mat-label>
    <mat-select matInput formControlName="gender">
      <mat-option>--- Select ---</mat-option>
      <mat-option value="male">Male</mat-option>
      <mat-option value="female">Female</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="person-form-field">
    <mat-label>Age</mat-label>
    <input matInput type="number" formControlName="age">
  </mat-form-field>

  <mat-form-field class="person-form-field">
    <mat-label>About</mat-label>
    <textarea matInput formControlName="about"></textarea>
  </mat-form-field>

  <button type="submit" mat-raised-button color="primary"
    [disabled]="personForm.invalid && personForm.dirty">
    Save
  </button>
</form>
