/* You can add global styles to this file, and also import other style files */
body,
html {
  margin: 0;
  height: 100%;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  background-color: #EAEAEA;
}

app-root {
  display: block;
  width: 800px;
  min-height: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: #FFFFFF;
}

h1, h2 {
  text-align: center;
}

div[align=space-between] {
  display: flex;
  justify-content: space-between;
}
